[submodule "fedora42_wsl"]
	path = fedora42_wsl
	url = ../dotfiles.git
	branch = fedora42_wsl
[submodule "windows11_notebook_26100.1.amd64fre.ge_release.240331-1435"]
	path = windows11_notebook_26100.1.amd64fre.ge_release.240331-1435
	url = ../dotfiles.git
	branch = windows11_notebook_26100.1.amd64fre.ge_release.240331-1435
[submodule "macos"]
  path = macos
  url = ../dotfiles.git
  branch = macos
[submodule "pve_product"]
	path = pve_product
	url = ../dotfiles.git
	branch = pve_product
[submodule "fedora42_hyperv"]
	path = fedora42_hyperv
	url = ../dotfiles.git
	branch = fedora42_hyperv
